:root {
  --restore-green: #00c04b;
  --white-smoke: #f9f9f9;
  --black: #222;
  --dim-grey: #525252;
  --brown: #ab4040;
  --gold: #ffde03;
  --red: #e53935;
  --steel-blue: #1976d2;
  --medium-sea-green: #20c788;
}

body {
  color: #333;
  font-family: Sen, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  /* Rimuove il margine del corpo */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  /* Per far sì che il contenuto si espanda verticalmente */
}

.container-personale {
  max-width: 800px;
  margin: 20px auto;
  background-color: var(--white-smoke);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Aggiunto un nuovo selettore per centrare la pagina */
.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #69471398;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-4 {
  background-color: #4dcc82;
  background-image: linear-gradient(315deg, #4dcc82 0%, #96e4b0 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-4:hover {
  background-color: #89d8a7;
  background-image: linear-gradient(315deg, #89d8a7 0%, #03c855 74%);
}

.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}

.btn-4:before {
  height: 0%;
  width: .1px;
}

.btn-4:after {
  width: 0%;
  height: .1px;
}

.btn-4:hover:before {
  height: 100%;
}

.btn-4:hover:after {
  width: 100%;
}

.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}

.btn-4 span:before {
  width: .1px;
  height: 0%;
}

.btn-4 span:after {
  width: 0%;
  height: .1px;
}

.btn-4 span:hover:before {
  height: 100%;
}

.btn-4 span:hover:after {
  width: 100%;
}

.selection-option {
  position: relative;
  text-align: left;
  border: 1px solid var(--dim-grey);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  /* Aggiunto il display flex */
}

.selection-option img {
  max-width: 50%;
  /* Modificato la larghezza dell'immagine */
  border-radius: 5px;
}

.selection-content {
  flex: 1;
  /* Flessibilità del contenuto per occupare lo spazio rimanente */
  padding: 20px;
  display: flex;
  /* Aggiunto il display flex per allineare il testo e il pulsante in colonna */
  flex-direction: column;
  /* Layout a colonna per testo e pulsante */
}

.selection-content label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.selection-button {
  margin-top: 10px;
  /* Aggiunto margine tra il testo e il pulsante */
}